.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

@media (min-width: 1024px) {
  .App {
    display: flex;
    flex-direction: row;
    margin: 40px 60px;
    justify-content: space-around;


  }
}



h1 {
  font-size: 35px;
  color: rgb(240, 231, 231);
  text-shadow: 1px 1px 1px rgba(56, 55, 55, 0.97);
  border: 2px solid white;
  background-color: darkgray;
  padding-bottom: 5px;
  border-radius: 12px;
  text-align: center;
  display: block;
  margin: 40px auto;
}

@media (min-width: 1024px) {
  h1 {
    width: 30%;
    margin-top: 40px;


  }
}