@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Supermercado One', cursive, 
    sans-serif;
    background-color: #170000;
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
    display: flex;
    flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
